:root{
  --COLOR_WHITE: #ffffff;
  --COLOR_RED: #FF4948;
  --COLOR_RED_GRADIENT: #DE5150;
  --COLOR_ORANGE: #FF4948;
  --COLOR_PINK: #FFE5EE;
  --COLOR_BLUE: #E5F1FF;
  --COLOR_GREEN: #E5FFFB;
  --COLOR_PEACH: #FFF4F4;
}


body{
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
}

header{
  background-size: cover;
  background-image: url(../Product-headphones/images/background.svg);
  height: 850px;
}

main{
/* background-color: rgb(16, 195, 198); */
}

footer{
 background-color: #E86564;
 height: 189px;
}

h1{
  font-size: 99px;
  font-weight: 700;
  margin: 0;
}

h2{
font-size: 44px;
font-weight: 700;
display: flex;
}

h3{
  margin: 0;
}

.just-center{
display: flex;
justify-content: center;
}

.just-start{
display: flex;
justify-content: start;
}

.just-end{
display: flex;
justify-content: end;
}

.opacity{
  opacity: 0.7;
}
