:root{
  --COLOR_WHITE: #ffffff;
  --COLOR_RED: #FF4948;
  --COLOR_RED_GRADIENT: #DE5150;
  --COLOR_ORANGE: #FF4948;
  --COLOR_PINK: #FFE5EE;
  --COLOR_BLUE: #E5F1FF;
  --COLOR_GREEN: #E5FFFB;

}

body{
  margin: 0;
  background-color: beige;
  font-family: sans-serif;
  font-style: normal;
}

header{
  background: linear-gradient(to right, var(--COLOR_RED), var(--COLOR_RED_GRADIENT));
  height: 850px;
}

main{
background-color: rgb(16, 195, 198);
}

footer{
  background-color: azure;
}

h1{
  font-size: 99px;
  font-weight: 700;
  margin: 0;
}

h2{
font-size: 44px;
font-weight: 700;
display: flex;
text-align: center;
}

h3{
  margin: 0;
}

.just-center{
display: flex;
justify-content: center;
}

.just-start{
display: flex;
justify-content: start;
}

.just-end{
display: flex;
justify-content: end;
}
