
.cards-block{
  display: flex;
  flex-direction: column;
  background-color: pink;
}

.card-title{
  display: flex;
  width: 508px;
  height: 101px;
  margin: 140px 555px 70px 556px;
  text-align: center;
  word-wrap: break-word;
}

.left-arrow{

}


.right-arrow{

}

.card-carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 594px;
  width: 1142px;
  position: relative;
}

.primary-card{

}

.secondary-card{
}

.characteristics{
  display: flex;
  flex-direction: column;
}

.battery{
  display: flex;
  flex-direction: row;
}

.bluetooth{
  display: flex;
  flex-direction: row;
}

.microphone{
  display: flex;
  flex-direction: row;
}

.description{
  display: flex;
  flex-direction: column;
}
