
.cards-block{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.collection-text{
  display: flex;
  width: 508px;
  height: 101px;
  margin: 140px 555px 70px 556px;
  text-align: center;
  word-wrap: break-word;
}

.left-arrow{
/* margin: 507px 67px 0 242px; */
}


.right-arrow{
  /* margin: 507px 236px 67px 72px; */
}

.card-carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 594px;
  width: 1142px;
}

.primary-card{

}

.secondary-card{
  margin: 371px 0 0 0;
}
